@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 10rem;
    align-items: center;
}

.cor__fundo {
    background-color: #2973D3;
}

.meu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulos {
    color: #2973D3;
}

.fa-paper-plane {
    margin: 0.5rem;
}

.pointer {
    cursor: pointer;
}

.meu__link {
    font-weight: 900;
    text-transform: uppercase;
}
#facilities{
	background-color:#dbe5e6;
	padding: 30px 0px;
}
#facilities h1{
	font-weight:900;
	font-size:34px;
	padding-bottom:5px;
}
.title{
	text-align:center;
	padding:25px 0px;
}
.title p{
	font-size:18px;
}
.card-body{
	box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}
.card{
	margin: 20px 10px;
}
.card-body a{
	color: #0c7f90;
	text-decoration:none;
	font-size: 15px;
	margin-top:auto;
	font-weight:600;
}
.card-body a:hover{
	color: #63a6b0;
	text-decoration:none;
}

.avaliacao{
  display: flex;
 }
.star-icon{
  list-style-type: none;
  border: 1px solid #fff;
  cursor: pointer;
  color: #ffe500;
  font-size: 40px;/* alterar o tamanho das estrelas */
}
.star-icon::before{
  content: "\2605";
}
.star-icon.ativo ~ .star-icon::before{
  content: "\2606";
}
.avaliacao:hover .star-icon::before{
  content: "\2605";
}
.star-icon:hover ~ .star-icon::before{
  content: "\2606";
}







